.footer {
  margin-top: 50px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 240px;
  background-image: url('../images/header-animated.gif');
  border-top: 2px solid black;
  color: white;
}

.footertext {
  color: white;
}
