.purchase-confirmation-img {
  width: 200px;
}

.list-purchases {
  max-width: 800px;
  margin: auto;
}

.list-purchases img {
  width: 70px;
}

.list-purchases .pure-u-md-1-5 {
  text-align: center;
}

.list-purchases .pure-u-md-3-5 {
  padding-right: 20px;
}
